[core]
	editor = vim
        hooksPath = ~/githooks
[pull]
        rebase = true
[push]
	default = current
[fetch]
	prune = true
[rebase]
	autosquash = true
[alias]
	sw = switch
[user]
	email = {{ .email }}
	name = Christoffer Moesgaard
