[core]
	editor = vim
	excludesfile = ~/.gitignore
[pull]
        rebase = true
[push]
	default = current
        autoSetupRemote = true
[fetch]
	prune = true
[rebase]
	autosquash = true
[alias]
	sw = switch
        co = checkout
        st = status
        br = branch
[init]
	defaultBranch = main
[user]
	email = {{ .email }}
	name = Christoffer Moesgaard
